// Colors
$white: #fff;
$color-primary-bg: #f3f3f8;
$color-secondary-bg: #e2e5ee;
$color-secondary-text: #9098b2;
$color-primary-text: #6e6e8a;
$color-primary-heading: #595773;
$color-inset-shadow: rgba(239, 239, 242, .75);
$color-outter-shadow : rgba(239, 239, 242, .75);
$color-highlight: #55c587;

// Fonts
$font-size-base: 1em;
$font-size-primary: 1.1em;
$font-size-md: 0.875em;
// Margin

// Dimensions
$badge-round-size: 40px;